Django==1.8
argparse==1.2.1
diff-match-patch==20121119
dj-static==0.0.6
django-admin-exporter==0.2.1
django-apptemplates==1.0
django-import-export==0.4.2
easygui==0.97.4
et-xmlfile==1.0.1
gunicorn==19.4.5
jdcal==1.2
openpyxl==2.3.3
static3==0.6.1
tablib==0.11.2
unicodecsv==0.14.1
xlrd==0.9.4
django-tools
django-bootstrap3
django-admin-bootstrapped
