{% extends "base.html" %}
{% load extra_tags %}

{% block content %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

                <div class="profile">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{ profile.name }}</h2>
                            <p><strong>About: </strong> {{ profile.about }} </p>
{#                            <p><strong>Hobbies: </strong> {{ profile.hobbies }} </p>#}
{#                            <p><strong>Skills: </strong>{{ profile.skills }}</p>#}
                        </div>
                    </div>
{#                    <div class="col-xs-12 divider text-center">#}
{#                        <div class="col-xs-12 col-sm-4 emphasis">#}
{##}
{#                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-4 emphasis">#}
{#                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-4 emphasis">#}
{#                            <div class="btn-group dropup btn-block">#}
{#                                <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options#}
{#                                </button>#}
{#                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">#}
{#                                    <span class="caret"></span>#}
{#                                    <span class="sr-only">Toggle Dropdown</span>#}
{#                                </button>#}
{#                                <ul class="dropdown-menu text-left" role="menu">#}
{#                                    <li><a href="mailto:kylefoley202@gmail.com?Subject=Query%20Logical%20Machine"#}
{#                                           target="_top"> <span class="fa fa-envelope pull-right"></span> Send an email#}
{#                                    </a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>


            </div>
        </div>
    </div>
{% endblock content %}
