{% extends "base.html" %}
{% load extra_tags %}

{% block content %}
    <h1>Dictionary</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Word</th>
            <th>Relation</th>
            <th>Definition</th>
            <th>subject</th>
            <th>object</th>

        </tr>
        </thead>
        <tbody>
        {% for sentense in output %}
            <tr>
                <td>{{ sentense.type }}</td>
                <td>{{ sentense.word }}</td>
                <td>{{ sentense.rel }}</td>
                <td>{{ sentense.definition }}</td>
                <td>{{ sentense.subject }}</td>
                <td>{{ sentense.def_object }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock content %}