{% extends "base.html" %}
{% load extra_tags %}

{% block content %}
    <h1>Download Files</h1>

    <table class="table table-bordered">
        <thead>
          <tr>
                <th>Name</th>
                <th>Link</th>
          </tr>
        </thead>
        <tbody>
        {% for row in ins_files %}
			<tr style="background:{{ row.color_type }} ">
			    <td>{{ row.name }}</td>
			    <td><a href="{{ row.data }}">Download</a></td>
			</tr>
		{% endfor %}
        </tbody>
    </table>
{% endblock content %}
